.product-details {
    display: grid;
    margin: 100px auto;
    padding-inline: 50px;
    column-gap: 100px;
    row-gap: 20px;
    max-width: 1000px;
    /* outline: solid red; */
}
.product-details .product-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-details .product-title {
    /* margin-top: 10px; */
}
.product-details .product-actions .rating {
    display: flex;
    gap: 10px;
    margin-block: 10px;
}

.product-form select {
    width: 80%;
    padding-block: 5px;
    margin-block: 10px;
    font-size: 1.5rem;
    font-family: var(--body-font);
}
.product-form .quantity {
    display: flex;
    font-size: 1.5rem;
    margin-block: 20px;
    align-items: center;
    user-select: none;
}
.product-form .quantity > * {
    border: 0.5px solid gray;
    padding: 10px 15px;
}
.product-form .quantity .change-quantity {
    cursor: pointer;
}
.product-form .quantity .change-quantity:hover {
    background: lightgray;
}
.product-form button {
    width: 70%;
    padding-block: 15px;
    background: rgb(0, 0, 105);
    opacity: 0.7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.product-form button:hover {
    opacity: 1;
}

.rating {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 177);
    text-decoration: none;
}

.stars * {
    min-height: 20px;
    min-width: 20px;
}

.reviews {
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
}
.reviews .overall-rating {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.reviews .overall-rating .stars * {
    min-height: 35px;
    min-width: 35px;
    color: rgb(0, 0, 177);
}
.reviews .user-reviews {
}
.reviews .product-rating {
    margin-bottom: 60px;
}

.submit-review {
    margin-block: 10px 50px;
}
.submit-review > * {
    display: flex;
    margin-block: 10px;
}
.submit-review select {
    width: 10%;
    margin-right: 5px;
}
.submit-review textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px 20px;
}


@media screen and (min-width: 620px) {
    .product-details {
        grid-template-columns: 1fr 1fr;
    }
    .reviews {
        width: 70%;
    }
    .reviews .overall-rating {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .reviews .overall-rating .stars * {
        min-height: 45px;
        min-width: 45px;
    }
}